<div class="page">
  <div class="search">
    <span class="search-label">Filter by keywords</span>
    <app-search-bar></app-search-bar>
  </div>
  <div class="results">
    <div class="results-total">
      <span class="results-total"> Results: {{ totalArticles$ | async }}</span>
      <mat-divider></mat-divider>
    </div>
    <div class="results-entities">
      <ng-container *ngIf="isLoading$ | async; else content">
        <mat-spinner></mat-spinner>
      </ng-container>

      <ng-template #content>
        <ng-container *ngIf="(articles$ | async)?.length; else noContent">
          <app-article-card
            *ngFor="let article of articles$ | async"
            [article]="article"
            [keywords]="keywords$ | async">
          </app-article-card>
        </ng-container>
      </ng-template>

      <ng-template #noContent>
        <div>
          No content
        </div>
      </ng-template>
    </div>
  </div>
</div>
