@use '@angular/material' as mat;
@use 'variables' as *;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
}

.highlight {
  background-color: yellow;
}

.select-none {
  user-select: none;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $font-color;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  line-height: 150%;

  .mat-icon {
    height: 10px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
