@use '@angular/material' as mat;
@use 'variables' as *;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
}

.highlight {
  background-color: yellow;
}

.select-none {
  user-select: none;
}
